.user-wrapper {

    ion-list {
        padding-bottom: 3em;
    }
    .edit-user-button {
        --background: #555;
        --color: #fff;
    }
    .user-title {
        color: #fff; 
    }
    .user-email {
        color: #999; 
    }

}