/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Spacers
.spacer-10x {
    margin-top: 10em;
}
.spacer-5x {
    margin-top: 5em;
}
.spacer-5x {
    margin-top: 5em;
}
.spacer-4x {
    margin-top: 4em;
}
.spacer-3x {
    margin-top: 3em;
}
.spacer-2x {
    margin-top: 2em;
}
.spacer-1x {
    margin-top: 1em;
}

// Horizontal Spacers
.hr-spacer-3x {
    width: 1.5em;
    display: inline-block;
}
.hr-spacer-2x {
    width: 1em;
    display: inline-block;
}
.hr-spacer-1x {
    width: 0.5em;
    display: inline-block;
}


// Loding
.login-loading {
    --background: green;
    --min-height: 200vh;
    --min-width: 200vw;
    color: white;
}

// Ion Alert Classes
.edit-landing-page-alert {
    --max-width: 500px;

    .alert-wrapper {
        border: 3px solid #242424;
    }

    .confirm-button {
        color: #ff7272;
    }
}


// Ion Elements
ion-header {
    ion-toolbar {
        --background: #535353;
    }
}

ion-button {
    // transition: 0.5s;
}